<div class="container mt-2 card border border-primary">
  <div class="card-body">
    <h2 class="card-title text-center mb-3 text-primary">Create an account</h2>
    <div class="card-text text-primary">
      <%= simple_form_for @account do |f| %>
        <%= f.error_notification %>
        <%= f.simple_fields_for :owner do |o| %>
          <%= o.input :name %>
          <%= o.input :email %>
          <%= o.input :password %>
          <%= o.input :password_confirmation %>
          <%= o.input :role %>
        <% end %>

        <%= f.input :subdomain %>

        <%=f.button :submit, class: 'btn-primary mt-2' %>
      <% end %>
    </div>
  </div>
</div>

